<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--名称空间可自定义-->
<mapper namespace="com.myweb.dao.UserTestMapper">

    <select id="selectAllforDao" resultType="com.myweb.domain.UserTest">
        select * from tb_usertest
    </select>

</mapper>